In [29]:
#1. crear un programa que lee un archivo de texto y retorna el numero de palabras del mismo
#usar dog_breeds.txt
with open('dog_breeds.txt', 'r') as reader:
    out = reader.read()
splitter = out.split()
print(len(splitter))

26

In [18]:
#2 SQL
#Usando sqlalchemy y sqlite hacer lo siguiente
#usar sqlite en memoria
#crear tabla empleado con datos personales - minimo nombre, apellidos, edad, DNI
#insertar datos
#hacer un select all
import sqlalchemy
#CONECTAR A BD
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:', echo=True)
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String
class Empleado(Base):
    __tablename__ = 'empleados'
    id = Column(Integer, primary_key=True)
    nombre = Column(String)
    apellidos = Column(String)
    edad = Column(Integer)
    dni = Column(String)
    def __repr__(self):
        return "<User(nombre='%s', apellido='%s', dni='%s')>" % (self.nombre, self.apellidos, self.dni)
#crear tablas
Base.metadata.create_all(engine)
#crear sesi√≥n
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()
#ADD/UPDATE
session.add_all([
Empleado(nombre='Julio', apellidos='Perez', edad=50, dni='56773221'),
Empleado(nombre='Carmen', apellidos='Maura', edad=30, dni='46173220'),
Empleado(nombre='Pedro', apellidos='Fuentes', edad=28, dni='66662211'),    
])
#commit
session.commit()

2020-01-18 14:30:06,159 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-01-18 14:30:06,160 INFO sqlalchemy.engine.base.Engine ()
2020-01-18 14:30:06,162 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-01-18 14:30:06,163 INFO sqlalchemy.engine.base.Engine ()
2020-01-18 14:30:06,165 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("empleados")
2020-01-18 14:30:06,166 INFO sqlalchemy.engine.base.Engine ()
2020-01-18 14:30:06,167 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("empleados")
2020-01-18 14:30:06,168 INFO sqlalchemy.engine.base.Engine ()
2020-01-18 14:30:06,170 INFO sqlalchemy.engine.base.Engine
CREATE TABLE empleados (
	id INTEGER NOT NULL,
	nombre VARCHAR,
	apellidos VARCHAR,
	edad INTEGER,
	dni VARCHAR,
	PRIMARY KEY (id)
)


2020-01-18 14:30:06,171 INFO sqlalchemy.engine.base.Engine ()
2020-01-18 14:30:06,173 INFO sqlalchemy.engine.base.Engine COMMIT
2020-01-18 14:30:06,177 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-01-18 14:30:06,180 INFO sqlalchemy.engine.base.Engine INSERT INTO empleados (nombre, apellidos, edad, dni) VALUES (?, ?, ?, ?)
2020-01-18 14:30:06,181 INFO sqlalchemy.engine.base.Engine ('Julio', 'Perez', 50, '56773221')
2020-01-18 14:30:06,182 INFO sqlalchemy.engine.base.Engine INSERT INTO empleados (nombre, apellidos, edad, dni) VALUES (?, ?, ?, ?)
2020-01-18 14:30:06,183 INFO sqlalchemy.engine.base.Engine ('Carmen', 'Maura', 30, '46173220')
2020-01-18 14:30:06,185 INFO sqlalchemy.engine.base.Engine INSERT INTO empleados (nombre, apellidos, edad, dni) VALUES (?, ?, ?, ?)
2020-01-18 14:30:06,186 INFO sqlalchemy.engine.base.Engine ('Pedro', 'Fuentes', 28, '66662211')
2020-01-18 14:30:06,188 INFO sqlalchemy.engine.base.Engine COMMIT

In [19]:
#SELECT ALL
#QUERIES
for instance in session.query(Empleado):
    print(instance.nombre, instance.apellidos, instance.edad, instance.dni)

2020-01-18 14:31:40,824 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-01-18 14:31:40,826 INFO sqlalchemy.engine.base.Engine SELECT empleados.id AS empleados_id, empleados.nombre AS empleados_nombre, empleados.apellidos AS empleados_apellidos, empleados.edad AS empleados_edad, empleados.dni AS empleados_dni
FROM empleados
2020-01-18 14:31:40,828 INFO sqlalchemy.engine.base.Engine ()
Julio Perez 50 56773221
Carmen Maura 30 46173220
Pedro Fuentes 28 66662211

In [12]:
#3 Convertir JSON a CSV
#Usar el json https://jsonplaceholder.typicode.com/todos
import csv
import json
import requests
response = requests.get("https://jsonplaceholder.typicode.com/todos")
todos = json.loads(response.text)
print(len(todos))
#opcion 1
x = todos
f = csv.writer(open("sol4.csv", "w"))
#cabecera
f.writerow(["userid", "id", "title", "completed"])
for x in x:
    f.writerow([x["userId"],
                x["id"],
                x["title"],
                x["completed"]])

200